body{
    background-image: url(imagens/wallpaper.jpg);
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;
}
.Container-Principal{
    display: flex;
    justify-content: center;
}
.Cabecalho {
    background-color: black; /* Define a cor de fundo do cabeçalho como preto */
    display: flex; 
    align-items: center; /* Alinha os itens do cabeçalho verticalmente no centro */
    color: #ffff; /* Define a cor do texto do cabeçalho como branco */
    justify-content: space-between; /* Distribui os itens do cabeçalho uniformemente entre as extremidades */
    padding: 0% 2%; /* Define o espaçamento interno do cabeçalho */
    position: fixed; /* Define o header como fixo */
    top: 0; /* Posiciona o header na parte superior da tela */
    left: 0; /* Posiciona o header na parte esquerda da tela */
    width: 99%; /* Define a largura do header como 99% da tela */
}

.Titulo {
    font-size: 30px; /* Define o tamanho da fonte do título como 30px */
}

/* Carrinho e Login */
.icons {
    display: flex; 
    flex-direction: row; /* Define a direção dos ícones como linha */
}

.MUTT-logo {
    width: 100px; /* Define a largura da logo como 100px */
    height: 100px; /* Define a altura da logo como 100px */
    cursor: pointer; /* Define o cursor como um ponteiro ao passar o mouse sobre a logo */
}

.carrinho {
    display: flex; 
    flex-direction: column; /* Define a direção dos itens do carrinho como coluna */
    cursor: pointer; /* Define o cursor como um ponteiro ao passar o mouse sobre o carrinho */
}

.Carrinho-logo {
    width: 100px; /* Define a largura da imagem do carrinho como 100px */
    height: 100px; /* Define a altura da imagem do carrinho como 100px */
    margin-bottom: -28px; /* Define a margem inferior da imagem do carrinho como -28px */
}

.carrinho p {
    margin: 0; /* Remove a margem superior e inferior do texto do carrinho */
    text-align: center; /* Alinha o texto do carrinho no centro */
}

.user {
    display: flex; 
    flex-direction: column; /* Define a direção dos itens do usuário como coluna */
    cursor: pointer; /* Define o cursor como um ponteiro ao passar o mouse sobre o usuário */
}

.User-logo {
    width: 100px; /* Define a largura da imagem do usuário como 100px */
    height: 100px; /* Define a altura da imagem do usuário como 100px */
    margin-bottom: -28px; /* Define a margem inferior da imagem do usuário como -28px */
}

.user p {
    margin: 0; /* Remove a margem superior e inferior do texto do usuário */
    text-align: center; /* Alinha o texto do usuário no centro */
}

.Card-Registro{
background-color: black;
height: 75vh;
width: 25%;
display: flex;
flex-direction: column;
position: static;
align-self: center;
margin-top: 100px;
margin-bottom: 50px;
align-content: center;
align-items: center;
border: 3px solid #858585;
box-shadow: 
0 0 5px #6d6d6d,
0 0 10px #373737, 
0 0 20px #1b1b1b; 
border-radius: 25px;
}

.Card-Registro h1{
color: white;
font-size: 50px;
margin-top: 25px;
}

.Input-Form{
display: flex;
margin-top: 25px;
margin-bottom: 25px;
width: 200px;
height: 10px;
border-radius: 5px;
border: 1px solid black;
padding: 10px;
font-size: 15px;
outline: none;
}


.checkbox{
    
    color: white;
}

.checkbox label{
    display: flex;
    flex-direction: row;
}

.bn15 {
    background-color: #ffffff00;
    font-family: lato,sans-serif;
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 0.1em;
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    padding: 10px 40px 10px 40px;
    position: relative;
    border: 3px solid #ffffff;
    border-radius: 20px;
  }
.modal_termos{
    display: none; /* Escondido por padrão */
    position: fixed; /* Fica fixo na tela */
    z-index: 1; /* Fica acima de outros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
    overflow: auto; /* Ativa o scroll se necessário */
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
}
.conteudo_modal{
    background-color: #fff;
    margin: 15% auto; /* 15% do topo e centraliza */
    width: 80%; /* Largura do modal */
    
}
