Container-Principal{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
/* cabeçalho */
.Cabecalho{
   background-color: black;
   display: flex;
   align-items: center;
   color: #ffff;
   justify-content: space-between;
   padding: 0% 2%;
}
.Titulo{
    font-size: 30px;
}
/* Carrinho e login */
.icons{
    display: flex;
    flex-direction: row;
}
.MUTT-logo{
    width: 100px;
    height: 100px;
}
.carrinho{
    display: flex;
    flex-direction: column;
}
.Carrinho-logo{
    width: 100px;
    height: 100px;  
    margin-bottom: -28px;
}
.carrinho p {
    margin: 0; 
    text-align: center;

}
.user {
    display: flex;
    flex-direction: column;
}
.User-logo {
    width: 100px;
    height: 100px; 
    margin-bottom: -28px;
}

.user p {
    margin: 0; 
    text-align: center;
}
/* Banner desconto */
